@page "/"
@using DnDProbabilityCalculator.Core.Adventuring.Abilities
@using DnDProbabilityCalculator.Application.Table.SavingThrow

<PageTitle>Home</PageTitle>

@if (_tableContexts.Any())
{
    @foreach (var currentContext in _tableContexts)
    {
        <FluentCard>
            <h3>@currentContext.GeneralTableInfo.ActorName</h3>
            <p>AC: @currentContext.GeneralTableInfo.ArmorClass</p>
            <p>AttackModifier: @currentContext.GeneralTableInfo.AttackModifier</p>
            <p>Damage per Hit: @currentContext.GeneralTableInfo.DamagePerHit</p>
        </FluentCard>

        <FluentDataGrid Items=@currentContext.SavingThrowTable.Probabilities.AsQueryable() TGridItem=SavingThrowTableRow>
            <PropertyColumn Title="Ability/DC" Property="@(row => row!.AbilityScoreType.Abbreviated())" Sortable="true" Align=Align.Start />
            @for (var i = 0; i < currentContext.SavingThrowTable.Dcs.Length; i++)
            {
                var localIndex = i;
                <PropertyColumn Title="@currentContext.SavingThrowTable.Dcs[localIndex].ToString()"
                                Property="@(row => row!.Cells[localIndex])"
                                Sortable="true"
                                Align=Align.Start />
            }
        </FluentDataGrid>
    }
}